---
layout: default
description: Template for team page
---

{{ content }}

<header class="bg-no-image"></header>
  <h3>Current Students</h3>
</header>

{% assign length = site.data.team.member | size %}
{% assign rows = length | divided_by: 2 | minus: 1 %}

<table>
    {% for i in (0..rows) %}
    {% assign start = i | times: 2 %}
    {% assign end = start | plus: 1 %}
    <tr>
      {% for j in (start..end) %}
      <td>
        {% assign member = site.data.team.member[j] %}
        <div class="d-flex team-member">
          <div class="flex-shrink-0 me-3">
            {% if member.image %}
              <img src="{{ member.image | relative_url }}">
            {% endif %}
          </div>
          <div>
            <h5>
              {{ member.name }}
            </h5>
            <h6>
              {% if member.role %}
                <tiny class="text-muted">{{ member.role }}</tiny>
              {% endif %}
            </h6>
      
            {{ member.description | markdownify }}

            <ul class="list-inline">
              {% if member.orcid %}
                <li class="list-inline-item">
                  <a href="https://orcid.org/{{ member.orcid }}"><i class="fab fa-orcid fa-lg"></i></a>
                </li>
              {% endif %}
      
              {% if member.researchgate %}
                <li class="list-inline-item">
                  <a href="https://researchgate.net/profile/{{ member.researchgate }}"><i class="fab fa-researchgate fa-lg"></i></a>
                </li>
              {% endif %}
      
              {% if member.twitter %}
                <li class="list-inline-item">
                  <a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter fa-lg"></i></a>
                </li>
              {% endif %}
      
              {% if member.linkedin %}
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/{{ member.linkedin }}"><i class="fab fa-linkedin fa-lg"></i></a>
                </li>
              {% endif %}
      
              {% if member.email %}
                <li class="list-inline-item">
                  <a href="mailto:{{ member.email }}"><i class="far fa-envelope fa-lg"></i></a>
                </li>
              {% endif %}
            </ul>
      
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
</table>

<header class="bg-no-image"></header>
  <h3>Former Students</h3>
</header>

{% assign length = site.data.former_team.member | size %}
{% assign rows = length | divided_by: 2 | minus: 1 %}

<table>
    {% for i in (0..rows) %}
    {% assign start = i | times: 2 %}
    {% assign end = start | plus: 1 %}
    <tr>
      {% for j in (start..end) %}
      <td>
        {% assign member = site.data.former_team.member[j] %}
        <div class="d-flex team-member">
          <div class="flex-shrink-0 me-3">
            {% if member.image %}
              <img src="{{ member.image | relative_url }}">
            {% endif %}
          </div>
          <div>
            <h5>
              {{ member.name }}
            </h5>
            <h6>
              {% if member.role %}
                <tiny class="text-muted">{{ member.role }}</tiny>
              {% endif %}
            </h6>
      
            {{ member.description | markdownify }}
      
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
</table>

